:root{
    /* Paleta de colores */
    --iceberg: #D9ECF2;
    --froly: #F56A79;
    --coral-red: #FF414D;
    --eastern-blue: #1AA6B7;
    --prussian-blue: #002D40;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;  
    src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400; 
    src: url('https://fonts.gstatic.com/s/montserrat/v22/JTUSjIg1_i6t8kCHKm459Wlhzg.woff2') format('woff2');
}


body{
    font-family: 'Poppins', 'Monserrat', sans-serif;
}

/* Boton de ir hacia arriba */
#scrollToTop{
    width: 60px;
    height: 60px;
    margin-bottom: 90px;
    z-index: 1;
    animation: popup .7s ease-out;
}

#scrollToTop:hover{
    background-color: var(--coral-red) !important;
}

@keyframes popup {
    0%{
        width: 40px;
        height: 40px;
    }
    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 60px;
        height: 60px;
    }
}

/* Seccion Menu */

#nav.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation: fadeInOut 0.7s ease;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

/* Seccion home */

.home{
    background-image: url('../images/fondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Seccion sobre mi */

.foto-container{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 7px solid var(--iceberg);
    overflow: hidden;
}

.foto-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay-socials{
    position: absolute;
    background-color: rgba(0, 46, 66, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    opacity: 0;
}

.foto-container:hover .overlay-socials{
    opacity: 1;
    height: 40%;
}

.foto-container .overlay-socials{
    transition: opacity 0.7s ease, height 0.7s ease;
}

/* Seccion habilidades */

.skill{
    width: 170px;
    transition: background-color 0.7s ease;
}

.skill:hover{
    background-color: #FF414D !important;
    color: #fff !important;
    cursor: pointer;
}

/* Seccion de servicios */

.service-item{
    transition: background-color 0.7s ease, transform 0.7s ease;
}

.service-item:hover{
    background-color: #FF414D !important;
    color: #fff !important;
    transform: scale(1.05);
    cursor: pointer;
}

.service-item:hover .icon > i{
    color: #fff;
}

.icon > i{
    color: #FF414D;
}

/* Seccion proyectos */

.card-img-top{
    transition: filter 0.7s ease-out;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 46, 66, 0.8);
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.7s ease-out, height 0.7s ease-out;
}

.proyecto:hover .overlay{
    opacity: 1;
    height: 100%;
}

.proyecto:hover .card-img-top{
    filter: blur(3px);
}

/* Seccion Contacto */
.overlay-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* Sobreescribiendo colores de botones de bootstrap */

.btn-primary:hover{
    background-color: var(--eastern-blue);
    border-color: var(--eastern-blue);
}

.btn-danger:hover{
    background-color: var(--coral-red);
    border-color: var(--coral-red);
}

/* Enlaces de bootstrap */

.nav-link:hover{
    color: var(--eastern-blue);
}

.social-link{
    transition: transform 0.7s ease-out;
}

.social-link:hover{
    transform: scale(1.2);
}

/* Responsive */

@media (max-width: 400px){
    .foto-container{
        width: 300px;
        height: 300px;
    }

    .skill{
        width: 130px;
    }
}