:root{
    /* Paleta de colores */
    --color1: #726EFF;
    --color2: #5AFFE7;
    --color3: #08C6AB;
    --color4: #37465B;
    --color5: #212B38;

    --color6: #A0D2EB;
    --color7: #E5EAF5;
    --color8: #D08DF4;
    --color9: #8458B3;
    --color10: #494D5F;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Seccion home */

.home{
    background-image: url('../images/fondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Seccion sobre mi */

.foto-container{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 7px solid var(--color7);
    overflow: hidden;
}

.foto-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Seccion habilidades */
.skill-item > img{
    width: 40%;
    object-fit: cover;
}

/* Seccion proyectos */
.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(36, 55, 87, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
    cursor: pointer;
}


/* Responsive */
@media (max-width: 400px){
    .foto-container{
        width: 300px;
        height: 300px;
    }
}